<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
     <title>Admin Page</title>
      <link href="style.css" rel="stylesheet" type="text/css">
       <script type="text/javascript">
        function ctck()
         {
          var sds = document.getElementById("dum");
         }
       </script>

</head>

<body style = "background: url(https://thumbs.dreamstime.com/z/man-made-word-admin-wood-blocks-189862784.jpg); background-size: 120%;">

<div id="top_links">
<div id="header">
	<h1>Admin Control System<span class="style1"></span></h1>
	<h1>For XYZ Bank Ltd<span class="style1"></span></h1>
</div>
<div>
    <h2>List of All Bank Accounts</h2>
</div>
    <input type="text" id="input" placeholder="filter">
<tr>
    <td>
<div id="navigation">
<ul>
	<li><a href="bob.html">Bob A</a></li>
    <li><a href="alice.html">Alice B</a></li>
    <li><a href="joe.html">Joe C</a></li>
</ul>
</div>
    </td>
    <tr>
                <td>
                    Add <a href="tuts.html">New Customer</a>
                </td>
    </tr>
</tr>
<div id="footer_copyright" >
  Copyright © XYZ Bank</div>
</div>

<script type="text/javascript">
document.onload = ctck();
</script>
</div>

</body>
</html>